In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Loads dataset into a dataframe variable
drug_df = pd.read_csv('../data/raw/Drug_Consumption.csv')
drug_df.head()

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,AScore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,2,25-34,M,Doctorate degree,UK,White,-0.67825,1.93886,1.43533,0.76096,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
1,3,35-44,M,Professional certificate/ diploma,UK,White,-0.46725,0.80523,-0.84732,-1.62090,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
2,4,18-24,F,Masters degree,UK,White,-0.14882,-0.80615,-0.01928,0.59042,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
3,5,35-44,F,Doctorate degree,UK,White,0.73545,-1.63340,-0.45174,-0.30172,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0
4,6,65+,F,Left school at 18 years,Canada,White,-0.67825,-0.30033,-1.55521,2.03972,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6,CL0,CL0

In [14]:
# Views random sample of 20 rows
drug_df.sample(20)

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,AScore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
1626,1631,35-44,F,University degree,UK,White,-0.14882,0.47617,0.88309,-1.07533,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
1606,1611,45-54,F,University degree,UK,White,0.22393,0.63779,-0.97631,0.76096,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
542,546,18-24,F,Left school at 16 years,UK,White,1.23461,-0.57545,-0.71727,-0.76096,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6,CL0,CL1
1700,1705,18-24,M,Left school at 18 years,Canada,White,0.41667,0.16767,-0.01928,-0.91699,...,CL3,CL0,CL0,CL5,CL3,CL3,CL4,CL6,CL0,CL3
930,935,18-24,F,University degree,UK,White,-0.24649,0.00332,1.06238,0.59042,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0
404,408,45-54,F,University degree,UK,White,1.83990,-0.94779,1.65653,-0.01729,...,CL2,CL0,CL0,CL3,CL0,CL0,CL1,CL6,CL0,CL0
1685,1690,35-44,M,"Some college or university, no certificate or ...",USA,White,1.02119,-1.50796,-0.84732,-1.47955,...,CL1,CL1,CL1,CL1,CL1,CL0,CL1,CL3,CL0,CL1
45,47,45-54,F,"Some college or university, no certificate or ...",Canada,White,0.31287,0.63779,-1.11902,0.28783,...,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL2,CL0,CL1
1036,1041,18-24,M,"Some college or university, no certificate or ...",USA,White,0.73545,-0.15487,0.58331,-0.76096,...,CL3,CL0,CL0,CL6,CL0,CL5,CL0,CL6,CL0,CL3
389,393,25-34,F,University degree,UK,White,0.62967,0.00332,0.14143,0.28783,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0
1552,1557,18-24,F,Masters degree,UK,White,0.31287,0.80523,-0.97631,0.28783,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6,CL0,CL0
708,712,18-24,M,"Some college or university, no certificate or ...",USA,White,-0.58016,-0.15487,-0.84732,1.11406,...,CL0,CL0,CL0,CL3,CL0,CL0,CL3,CL3,CL0,CL0
1144,1149,35-44,M,Professional certificate/ diploma,USA,White,1.83990,-0.94779,0.14143,-1.47955,...,CL2,CL0,CL2,CL5,CL3,CL3,CL2,CL6,CL0,CL1
560,564,35-44,F,Masters degree,UK,Other,2.61139,0.47617,-1.55521,-0.30172,...,CL0,CL0,CL0,CL0,CL1,CL0,CL1,CL6,CL0,CL1
89,91,35-44,F,Masters degree,UK,White,1.37297,0.32197,0.72330,0.28783,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL4,CL0,CL0
885,890,18-24,F,"Some college or university, no certificate or ...",USA,White,-1.05308,1.45421,1.65653,1.81866,...,CL4,CL0,CL0,CL2,CL3,CL0,CL3,CL2,CL0,CL0
1419,1424,18-24,M,University degree,USA,White,-0.79151,1.74091,1.65653,0.43852,...,CL4,CL2,CL0,CL3,CL3,CL0,CL3,CL6,CL0,CL0
86,88,55-64,M,Left school at 16 years,UK,White,-0.92104,0.16767,-0.45174,-0.30172,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0
782,787,18-24,M,Professional certificate/ diploma,Other,White,-0.58016,0.00332,0.14143,-0.30172,...,CL3,CL0,CL3,CL4,CL3,CL0,CL3,CL6,CL0,CL2
1500,1505,18-24,F,University degree,USA,Mixed-White/Asian,-0.46725,0.00332,-0.31776,0.13136,...,CL4,CL0,CL3,CL3,CL3,CL0,CL5,CL6,CL0,CL2

In [ ]:
# Displays the numerical summary statistics of the dataframe
drug_df.describe()

,ID,Nscore,Escore,Oscore,AScore,Cscore,Impulsive,SS
count,1884.000000,1884.000000,1884.000000,1884.000000,1884.000000,1884.000000,1884.000000,1884.000000
mean,945.796178,-0.000119,0.000143,-0.000225,0.000242,-0.000383,0.007335,-0.002667
std,544.877779,0.998345,0.997625,0.996402,0.997481,0.997787,0.954674,0.963575
min,2.000000,-3.464360,-3.273930,-3.273930,-3.464360,-3.464360,-2.555240,-2.078480
25%,474.750000,-0.678250,-0.695090,-0.717270,-0.606330,-0.652530,-0.711260,-0.525930
50%,946.500000,0.042570,0.003320,-0.019280,-0.017290,-0.006650,-0.217120,0.079870
75%,1417.250000,0.629670,0.637790,0.723300,0.760960,0.584890,0.529750,0.765400
max,1888.000000,3.273930,3.273930,2.901610,3.464360,3.464360,2.901610,1.921730

In [ ]:
# Displays the shape of the dataframe
print(f"Shape: {drug_df.shape}")

Shape: (1884, 32)

In [ ]:
# Displays information about the dataframe i.e. data types, non-null counts, memory usage, row entries
drug_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1884 entries, 0 to 1883
Data columns (total 32 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1884 non-null   int64
 1   Age        1884 non-null   object
 2   Gender     1884 non-null   object
 3   Education  1884 non-null   object
 4   Country    1884 non-null   object
 5   Ethnicity  1884 non-null   object
 6   Nscore     1884 non-null   float64
 7   Escore     1884 non-null   float64
 8   Oscore     1884 non-null   float64
 9   AScore     1884 non-null   float64
 10  Cscore     1884 non-null   float64
 11  Impulsive  1884 non-null   float64
 12  SS         1884 non-null   float64
 13  Alcohol    1884 non-null   object
 14  Amphet     1884 non-null   object
 15  Amyl       1884 non-null   object
 16  Benzos     1884 non-null   object
 17  Caff       1884 non-null   object
 18  Cannabis   1884 non-null   object
 19  Choc       1884 non-null   object
 20  Coke       1884 non-null   object
 21  Crack      1884 non-null   object
 22  Ecstasy    1884 non-null   object
 23  Heroin     1884 non-null   object
 24  Ketamine   1884 non-null   object
 25  Legalh     1884 non-null   object
 26  LSD        1884 non-null   object
 27  Meth       1884 non-null   object
 28  Mushrooms  1884 non-null   object
 29  Nicotine   1884 non-null   object
 30  Semer      1884 non-null   object
 31  VSA        1884 non-null   object
dtypes: float64(7), int64(1), object(24)
memory usage: 471.1+ KB

In [15]:
# Displays the number of missing values in each column
drug_df.isna().sum()

ID           0
Age          0
Gender       0
Education    0
Country      0
Ethnicity    0
Nscore       0
Escore       0
Oscore       0
AScore       0
Cscore       0
Impulsive    0
SS           0
Alcohol      0
Amphet       0
Amyl         0
Benzos       0
Caff         0
Cannabis     0
Choc         0
Coke         0
Crack        0
Ecstasy      0
Heroin       0
Ketamine     0
Legalh       0
LSD          0
Meth         0
Mushrooms    0
Nicotine     0
Semer        0
VSA          0
dtype: int64