In [1]:
import sys
sys.path.append('..')
from src.data_cleaning import *

In [2]:

# Loads dataset into a dataframe variable
drug_df = load_dataset(FILEPATH)

In [3]:
drug_df.head()

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,AScore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,2,25-34,M,Doctorate degree,UK,White,-0.67825,1.93886,1.43533,0.76096,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
1,3,35-44,M,Professional certificate/ diploma,UK,White,-0.46725,0.80523,-0.84732,-1.62090,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
2,4,18-24,F,Masters degree,UK,White,-0.14882,-0.80615,-0.01928,0.59042,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
3,5,35-44,F,Doctorate degree,UK,White,0.73545,-1.63340,-0.45174,-0.30172,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0
4,6,65+,F,Left school at 18 years,Canada,White,-0.67825,-0.30033,-1.55521,2.03972,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6,CL0,CL0

In [4]:
# Views random sample of 20 rows
drug_df.sample(20)

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,AScore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
1381,1386,18-24,F,"Some college or university, no certificate or ...",UK,White,-0.24649,-0.43999,-0.31776,-0.01729,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
1482,1487,18-24,M,"Some college or university, no certificate or ...",Other,White,-1.19430,1.11406,1.24033,-1.62090,...,CL3,CL0,CL0,CL0,CL3,CL0,CL4,CL6,CL0,CL0
1765,1770,35-44,F,Professional certificate/ diploma,UK,White,-0.79151,0.47617,-1.11902,0.59042,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0
1093,1098,25-34,M,Masters degree,UK,White,1.13281,-1.09207,-0.84732,-0.01729,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
57,59,45-54,M,Left school at 18 years,UK,White,0.22393,0.63779,-0.01928,-0.45321,...,CL3,CL1,CL3,CL3,CL1,CL0,CL2,CL6,CL0,CL1
1568,1573,18-24,F,"Some college or university, no certificate or ...",UK,White,-0.58016,-0.30033,-0.84732,0.59042,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL2,CL0,CL0
430,434,45-54,F,Left school at 16 years,UK,White,0.22393,1.93886,-1.11902,1.28610,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL3,CL0,CL0
81,83,55-64,M,Masters degree,Canada,White,-2.05048,1.45421,-0.97631,0.59042,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0
250,252,35-44,F,University degree,UK,White,0.62967,-0.94779,-0.71727,-0.15487,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0
143,145,45-54,M,Professional certificate/ diploma,Canada,White,0.13606,-1.09207,-0.45174,-1.21213,...,CL0,CL0,CL0,CL0,CL1,CL0,CL1,CL1,CL0,CL1
1005,1010,18-24,F,Left school at 18 years,UK,White,1.23461,0.96248,0.44585,-0.30172,...,CL4,CL0,CL5,CL5,CL0,CL0,CL0,CL3,CL0,CL0
1032,1037,18-24,F,"Some college or university, no certificate or ...",USA,White,0.52135,0.80523,0.88309,-0.15487,...,CL4,CL3,CL3,CL3,CL4,CL2,CL4,CL6,CL0,CL2
898,903,18-24,M,"Some college or university, no certificate or ...",UK,Black,0.04257,-0.94779,0.44585,-0.60633,...,CL4,CL0,CL0,CL6,CL0,CL0,CL0,CL6,CL0,CL0
974,979,35-44,F,Masters degree,UK,White,-0.58016,1.45421,-1.27553,1.61108,...,CL5,CL0,CL0,CL2,CL3,CL0,CL3,CL6,CL0,CL0
330,334,18-24,F,"Some college or university, no certificate or ...",UK,White,2.82196,-1.92173,-0.84732,0.43852,...,CL3,CL0,CL0,CL5,CL0,CL0,CL0,CL6,CL0,CL3
1556,1561,25-34,F,Masters degree,UK,Asian,0.73545,0.16767,-0.71727,-0.91699,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL0
856,861,18-24,M,"Some college or university, no certificate or ...",USA,White,-1.05308,2.32338,1.06238,-0.15487,...,CL5,CL0,CL0,CL4,CL0,CL3,CL3,CL4,CL0,CL0
701,705,35-44,M,"Some college or university, no certificate or ...",USA,White,-0.79151,-0.30033,-0.58331,-0.60633,...,CL1,CL1,CL1,CL3,CL1,CL1,CL1,CL1,CL0,CL1
1346,1351,18-24,F,"Some college or university, no certificate or ...",USA,White,-2.05048,-0.94779,0.14143,-0.01729,...,CL0,CL0,CL0,CL6,CL0,CL0,CL0,CL4,CL0,CL0
887,892,18-24,M,"Some college or university, no certificate or ...",USA,Other,0.13606,0.96248,1.06238,0.59042,...,CL4,CL0,CL0,CL3,CL4,CL0,CL3,CL4,CL0,CL3

In [5]:
# Displays the numerical summary statistics of the dataframe
drug_df.describe()

,ID,Nscore,Escore,Oscore,AScore,Cscore,Impulsive,SS
count,1884.000000,1884.000000,1884.000000,1884.000000,1884.000000,1884.000000,1884.000000,1884.000000
mean,945.796178,-0.000119,0.000143,-0.000225,0.000242,-0.000383,0.007335,-0.002667
std,544.877779,0.998345,0.997625,0.996402,0.997481,0.997787,0.954674,0.963575
min,2.000000,-3.464360,-3.273930,-3.273930,-3.464360,-3.464360,-2.555240,-2.078480
25%,474.750000,-0.678250,-0.695090,-0.717270,-0.606330,-0.652530,-0.711260,-0.525930
50%,946.500000,0.042570,0.003320,-0.019280,-0.017290,-0.006650,-0.217120,0.079870
75%,1417.250000,0.629670,0.637790,0.723300,0.760960,0.584890,0.529750,0.765400
max,1888.000000,3.273930,3.273930,2.901610,3.464360,3.464360,2.901610,1.921730

In [6]:
# Displays the shape of the dataframe
print(f"Shape: {drug_df.shape}")

Shape: (1884, 32)

In [7]:
# Displays information about the dataframe i.e. data types, non-null counts, memory usage, row entries
drug_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1884 entries, 0 to 1883
Data columns (total 32 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1884 non-null   int64
 1   Age        1884 non-null   object
 2   Gender     1884 non-null   object
 3   Education  1884 non-null   object
 4   Country    1884 non-null   object
 5   Ethnicity  1884 non-null   object
 6   Nscore     1884 non-null   float64
 7   Escore     1884 non-null   float64
 8   Oscore     1884 non-null   float64
 9   AScore     1884 non-null   float64
 10  Cscore     1884 non-null   float64
 11  Impulsive  1884 non-null   float64
 12  SS         1884 non-null   float64
 13  Alcohol    1884 non-null   object
 14  Amphet     1884 non-null   object
 15  Amyl       1884 non-null   object
 16  Benzos     1884 non-null   object
 17  Caff       1884 non-null   object
 18  Cannabis   1884 non-null   object
 19  Choc       1884 non-null   object
 20  Coke       1884 non-null   object
 21  Crack      1884 non-null   object
 22  Ecstasy    1884 non-null   object
 23  Heroin     1884 non-null   object
 24  Ketamine   1884 non-null   object
 25  Legalh     1884 non-null   object
 26  LSD        1884 non-null   object
 27  Meth       1884 non-null   object
 28  Mushrooms  1884 non-null   object
 29  Nicotine   1884 non-null   object
 30  Semer      1884 non-null   object
 31  VSA        1884 non-null   object
dtypes: float64(7), int64(1), object(24)
memory usage: 471.1+ KB

In [8]:
# Displays the number of missing values in each column
drug_df.isnull().sum()

ID           0
Age          0
Gender       0
Education    0
Country      0
Ethnicity    0
Nscore       0
Escore       0
Oscore       0
AScore       0
Cscore       0
Impulsive    0
SS           0
Alcohol      0
Amphet       0
Amyl         0
Benzos       0
Caff         0
Cannabis     0
Choc         0
Coke         0
Crack        0
Ecstasy      0
Heroin       0
Ketamine     0
Legalh       0
LSD          0
Meth         0
Mushrooms    0
Nicotine     0
Semer        0
VSA          0
dtype: int64

In [9]:
# Checks for duplicate rows in the dataframe
drug_df.duplicated().sum()

np.int64(0)