In [19]:
import sys
sys.path.append('..')
from src.data_cleaning import *

In [20]:
# Loads raw dataset into a dataframe variable
cleaning_drug_df = load_dataset(FILEPATH_RAW)

In [21]:
cleaning_drug_df.head()

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,AScore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,2,25-34,M,Doctorate degree,UK,White,-0.67825,1.93886,1.43533,0.76096,...,CL4,CL0,CL2,CL0,CL2,CL3,CL0,CL4,CL0,CL0
1,3,35-44,M,Professional certificate/ diploma,UK,White,-0.46725,0.80523,-0.84732,-1.62090,...,CL0,CL0,CL0,CL0,CL0,CL0,CL1,CL0,CL0,CL0
2,4,18-24,F,Masters degree,UK,White,-0.14882,-0.80615,-0.01928,0.59042,...,CL0,CL0,CL2,CL0,CL0,CL0,CL0,CL2,CL0,CL0
3,5,35-44,F,Doctorate degree,UK,White,0.73545,-1.63340,-0.45174,-0.30172,...,CL1,CL0,CL0,CL1,CL0,CL0,CL2,CL2,CL0,CL0
4,6,65+,F,Left school at 18 years,Canada,White,-0.67825,-0.30033,-1.55521,2.03972,...,CL0,CL0,CL0,CL0,CL0,CL0,CL0,CL6,CL0,CL0

In [22]:
"""Converts drug use ratings in specified columns to numerical values."""

ratings_lst = cleaning_drug_df[['Alcohol', 'Amphet', 'Amyl', 'Benzos', 'Caff', 'Cannabis', 'Choc', 'Coke', 'Crack', 'Ecstasy', 'Heroin', 'Ketamine', 'Legalh', 'LSD', 'Meth', 'Mushrooms', 'Nicotine', 'Semer', 'VSA']].columns.tolist()

cleaning_drug_df_copy = cleaning_drug_df.copy()

cleaning_drug_df_v2 = convert_drug_use_ratings(cleaning_drug_df_copy, ratings_lst)

c:\Users\Owner\Desktop\Data Science Bootcamp\Midterm_Project\drug_consumption_analysis\notebooks\..\src\data_cleaning.py:33: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[drug_cols] = df[drug_cols].replace(category_dict)

In [23]:
cleaning_drug_df_v2.head()

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,AScore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,2,25-34,M,Doctorate degree,UK,White,-0.67825,1.93886,1.43533,0.76096,...,4,0,2,0,2,3,0,4,0,0
1,3,35-44,M,Professional certificate/ diploma,UK,White,-0.46725,0.80523,-0.84732,-1.62090,...,0,0,0,0,0,0,1,0,0,0
2,4,18-24,F,Masters degree,UK,White,-0.14882,-0.80615,-0.01928,0.59042,...,0,0,2,0,0,0,0,2,0,0
3,5,35-44,F,Doctorate degree,UK,White,0.73545,-1.63340,-0.45174,-0.30172,...,1,0,0,1,0,0,2,2,0,0
4,6,65+,F,Left school at 18 years,Canada,White,-0.67825,-0.30033,-1.55521,2.03972,...,0,0,0,0,0,0,0,6,0,0

In [24]:
"""Converts age ranges in Age column to their midpoint numerical values."""

age_range_lst = cleaning_drug_df_v2[['Age']].columns.tolist()

cleaning_drug_df_v2_copy = cleaning_drug_df_v2.copy()

cleaning_drug_df_v3 = convert_to_midpoint(cleaning_drug_df_v2_copy, age_range_lst)

c:\Users\Owner\Desktop\Data Science Bootcamp\Midterm_Project\drug_consumption_analysis\notebooks\..\src\data_cleaning.py:48: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[drug_cols] = df[drug_cols].replace(midpoint_dict)

In [25]:
cleaning_drug_df_v3.head()

,ID,Age,Gender,Education,Country,Ethnicity,Nscore,Escore,Oscore,AScore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,2,29.5,M,Doctorate degree,UK,White,-0.67825,1.93886,1.43533,0.76096,...,4,0,2,0,2,3,0,4,0,0
1,3,39.5,M,Professional certificate/ diploma,UK,White,-0.46725,0.80523,-0.84732,-1.62090,...,0,0,0,0,0,0,1,0,0,0
2,4,21.0,F,Masters degree,UK,White,-0.14882,-0.80615,-0.01928,0.59042,...,0,0,2,0,0,0,0,2,0,0
3,5,39.5,F,Doctorate degree,UK,White,0.73545,-1.63340,-0.45174,-0.30172,...,1,0,0,1,0,0,2,2,0,0
4,6,70.0,F,Left school at 18 years,Canada,White,-0.67825,-0.30033,-1.55521,2.03972,...,0,0,0,0,0,0,0,6,0,0

In [26]:
cleaning_drug_df_v3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1884 entries, 0 to 1883
Data columns (total 32 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ID         1884 non-null   int64
 1   Age        1884 non-null   float64
 2   Gender     1884 non-null   object
 3   Education  1884 non-null   object
 4   Country    1884 non-null   object
 5   Ethnicity  1884 non-null   object
 6   Nscore     1884 non-null   float64
 7   Escore     1884 non-null   float64
 8   Oscore     1884 non-null   float64
 9   AScore     1884 non-null   float64
 10  Cscore     1884 non-null   float64
 11  Impulsive  1884 non-null   float64
 12  SS         1884 non-null   float64
 13  Alcohol    1884 non-null   int64
 14  Amphet     1884 non-null   int64
 15  Amyl       1884 non-null   int64
 16  Benzos     1884 non-null   int64
 17  Caff       1884 non-null   int64
 18  Cannabis   1884 non-null   int64
 19  Choc       1884 non-null   int64
 20  Coke       1884 non-null   int64
 21  Crack      1884 non-null   int64
 22  Ecstasy    1884 non-null   int64
 23  Heroin     1884 non-null   int64
 24  Ketamine   1884 non-null   int64
 25  Legalh     1884 non-null   int64
 26  LSD        1884 non-null   int64
 27  Meth       1884 non-null   int64
 28  Mushrooms  1884 non-null   int64
 29  Nicotine   1884 non-null   int64
 30  Semer      1884 non-null   int64
 31  VSA        1884 non-null   int64
dtypes: float64(8), int64(20), object(4)
memory usage: 471.1+ KB

In [27]:
"""Changes column headers for personality traits to more descriptive names."""

column_rename_df_copy = cleaning_drug_df_v3.copy()
renamed_columns_df = rename_personality_traits(column_rename_df_copy)

In [28]:
renamed_columns_df.head()

,ID,Age,Gender,Education,Country,Ethnicity,neuroticism_nscore,extraversion_escore,openness_oscore,agreeableness_ascore,...,Ecstasy,Heroin,Ketamine,Legalh,LSD,Meth,Mushrooms,Nicotine,Semer,VSA
0,2,29.5,M,Doctorate degree,UK,White,-0.67825,1.93886,1.43533,0.76096,...,4,0,2,0,2,3,0,4,0,0
1,3,39.5,M,Professional certificate/ diploma,UK,White,-0.46725,0.80523,-0.84732,-1.62090,...,0,0,0,0,0,0,1,0,0,0
2,4,21.0,F,Masters degree,UK,White,-0.14882,-0.80615,-0.01928,0.59042,...,0,0,2,0,0,0,0,2,0,0
3,5,39.5,F,Doctorate degree,UK,White,0.73545,-1.63340,-0.45174,-0.30172,...,1,0,0,1,0,0,2,2,0,0
4,6,70.0,F,Left school at 18 years,Canada,White,-0.67825,-0.30033,-1.55521,2.03972,...,0,0,0,0,0,0,0,6,0,0

In [29]:
renamed_columns_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1884 entries, 0 to 1883
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        1884 non-null   int64
 1   Age                       1884 non-null   float64
 2   Gender                    1884 non-null   object
 3   Education                 1884 non-null   object
 4   Country                   1884 non-null   object
 5   Ethnicity                 1884 non-null   object
 6   neuroticism_nscore        1884 non-null   float64
 7   extraversion_escore       1884 non-null   float64
 8   openness_oscore           1884 non-null   float64
 9   agreeableness_ascore      1884 non-null   float64
 10  conscientiousness_cscore  1884 non-null   float64
 11  impulsivity_impulsive     1884 non-null   float64
 12  sensation_seeking_ss      1884 non-null   float64
 13  Alcohol                   1884 non-null   int64
 14  Amphet                    1884 non-null   int64
 15  Amyl                      1884 non-null   int64
 16  Benzos                    1884 non-null   int64
 17  Caff                      1884 non-null   int64
 18  Cannabis                  1884 non-null   int64
 19  Choc                      1884 non-null   int64
 20  Coke                      1884 non-null   int64
 21  Crack                     1884 non-null   int64
 22  Ecstasy                   1884 non-null   int64
 23  Heroin                    1884 non-null   int64
 24  Ketamine                  1884 non-null   int64
 25  Legalh                    1884 non-null   int64
 26  LSD                       1884 non-null   int64
 27  Meth                      1884 non-null   int64
 28  Mushrooms                 1884 non-null   int64
 29  Nicotine                  1884 non-null   int64
 30  Semer                     1884 non-null   int64
 31  VSA                       1884 non-null   int64
dtypes: float64(8), int64(20), object(4)
memory usage: 471.1+ KB

In [30]:
"""Cleans the column names of the DataFrame by stripping whitespace, converting to lowercase, and replacing spaces with underscores."""

renamed_columns_df_copy = renamed_columns_df.copy()
cleaned_drug_df = clean_column_names(renamed_columns_df_copy)

In [31]:
cleaned_drug_df.head()

,id,age,gender,education,country,ethnicity,neuroticism_nscore,extraversion_escore,openness_oscore,agreeableness_ascore,...,ecstasy,heroin,ketamine,legalh,lsd,meth,mushrooms,nicotine,semer,vsa
0,2,29.5,M,Doctorate degree,UK,White,-0.67825,1.93886,1.43533,0.76096,...,4,0,2,0,2,3,0,4,0,0
1,3,39.5,M,Professional certificate/ diploma,UK,White,-0.46725,0.80523,-0.84732,-1.62090,...,0,0,0,0,0,0,1,0,0,0
2,4,21.0,F,Masters degree,UK,White,-0.14882,-0.80615,-0.01928,0.59042,...,0,0,2,0,0,0,0,2,0,0
3,5,39.5,F,Doctorate degree,UK,White,0.73545,-1.63340,-0.45174,-0.30172,...,1,0,0,1,0,0,2,2,0,0
4,6,70.0,F,Left school at 18 years,Canada,White,-0.67825,-0.30033,-1.55521,2.03972,...,0,0,0,0,0,0,0,6,0,0

In [32]:
cleaned_drug_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1884 entries, 0 to 1883
Data columns (total 32 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        1884 non-null   int64
 1   age                       1884 non-null   float64
 2   gender                    1884 non-null   object
 3   education                 1884 non-null   object
 4   country                   1884 non-null   object
 5   ethnicity                 1884 non-null   object
 6   neuroticism_nscore        1884 non-null   float64
 7   extraversion_escore       1884 non-null   float64
 8   openness_oscore           1884 non-null   float64
 9   agreeableness_ascore      1884 non-null   float64
 10  conscientiousness_cscore  1884 non-null   float64
 11  impulsivity_impulsive     1884 non-null   float64
 12  sensation_seeking_ss      1884 non-null   float64
 13  alcohol                   1884 non-null   int64
 14  amphet                    1884 non-null   int64
 15  amyl                      1884 non-null   int64
 16  benzos                    1884 non-null   int64
 17  caff                      1884 non-null   int64
 18  cannabis                  1884 non-null   int64
 19  choc                      1884 non-null   int64
 20  coke                      1884 non-null   int64
 21  crack                     1884 non-null   int64
 22  ecstasy                   1884 non-null   int64
 23  heroin                    1884 non-null   int64
 24  ketamine                  1884 non-null   int64
 25  legalh                    1884 non-null   int64
 26  lsd                       1884 non-null   int64
 27  meth                      1884 non-null   int64
 28  mushrooms                 1884 non-null   int64
 29  nicotine                  1884 non-null   int64
 30  semer                     1884 non-null   int64
 31  vsa                       1884 non-null   int64
dtypes: float64(8), int64(20), object(4)
memory usage: 471.1+ KB

In [36]:
cleaned_drug_df.describe()

,id,age,neuroticism_nscore,extraversion_escore,openness_oscore,agreeableness_ascore,conscientiousness_cscore,impulsivity_impulsive,sensation_seeking_ss,alcohol,...,ecstasy,heroin,ketamine,legalh,lsd,meth,mushrooms,nicotine,semer,vsa
count,1884.000000,1884.000000,1884.000000,1884.000000,1884.000000,1884.000000,1884.000000,1884.000000,1884.000000,1884.00000,...,1884.000000,1884.000000,1884.000000,1884.000000,1884.000000,1884.000000,1884.000000,1884.000000,1884.000000,1884.000000
mean,945.796178,33.472134,-0.000119,0.000143,-0.000225,0.000242,-0.000383,0.007335,-0.002667,4.63482,...,1.314756,0.374204,0.569533,1.356688,1.062102,0.826964,1.187898,3.201168,0.009554,0.433652
std,544.877779,12.260576,0.998345,0.997625,0.996402,0.997481,0.997787,0.954674,0.963575,1.33158,...,1.647726,1.035018,1.220269,1.789849,1.491298,1.646959,1.466475,2.414415,0.159373,0.962578
min,2.000000,21.000000,-3.464360,-3.273930,-3.273930,-3.464360,-3.464360,-2.555240,-2.078480,0.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,474.750000,21.000000,-0.678250,-0.695090,-0.717270,-0.606330,-0.652530,-0.711260,-0.525930,4.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
50%,946.500000,29.500000,0.042570,0.003320,-0.019280,-0.017290,-0.006650,-0.217120,0.079870,5.00000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,0.000000
75%,1417.250000,39.500000,0.629670,0.637790,0.723300,0.760960,0.584890,0.529750,0.765400,6.00000,...,3.000000,0.000000,0.000000,3.000000,2.000000,0.000000,2.000000,6.000000,0.000000,0.000000
max,1888.000000,70.000000,3.273930,3.273930,2.901610,3.464360,3.464360,2.901610,1.921730,6.00000,...,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,6.000000,4.000000,6.000000

In [37]:
"""Saves the cleaned DataFrame to a CSV file."""

save_cleaned_dataset(cleaned_drug_df, FILEPATH_CLEANED)